@import url('https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css');

:root {
  --accent-hue: 224;
  --accent-saturation: 71%;
  --accent-lightness: 61%;
  --accent-text-color: #fff;
  --avatar-radius: 50%;
  --undefined: 0;
  --message-radius: 19px;
  --message-padding-top: 8px;
  --message-padding-side: 12px;
  --undefined: 0;
  --media-radius: 19px;
  --undefined: 0;
  --card-radius: 8px;
  --card-radius-big: 18px;
  --popout-radius: 8px;
  --popout-radius-big: 18px;
}

/* Any custom CSS below here */


